#copy {
	margin-top: 20px;
	color: #00f;
	font-weight: bold;
}

#result {
	margin-top: 20px;
	margin-bottom: 20px;
}

@media (max-width: 479px) {
	.text-reponsive {
		font-size: 12px;
	}

	h1.text-reponsive {
		font-size: 24px;
		font-weight: bold;
	}

    h2.text-reponsive {
		font-size: 21px;
		font-weight: bold;
	}

    h3.text-reponsive {
		font-size: 18px;
		font-weight: bold;
	}

    h4.text-reponsive {
		font-size: 15px;
		font-weight: bold;
	}
}

@media (min-width: 480px) and (max-width: 767px) {
	.text-reponsive {
		font-size: 14px;
	}

	h1.text-reponsive {
		font-size: 29px;
		font-weight: bold;
	}

    h2.text-reponsive {
		font-size: 25px;
		font-weight: bold;
	}

    h3.text-reponsive {
		font-size: 21px;
		font-weight: bold;
	}

    h4.text-reponsive {
		font-size: 17px;
		font-weight: bold;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.text-reponsive {
		font-size: 15px;
	}

	h1.text-reponsive {
		font-size: 33px;
		font-weight: bold;
	}

    h2.text-reponsive {
		font-size: 28px;
		font-weight: bold;
	}

    h3.text-reponsive {
		font-size: 23px;
		font-weight: bold;
	}

    h4.text-reponsive {
		font-size: 18px;
		font-weight: bold;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.text-reponsive {
		font-size: 16px;
	}

	h1.text-reponsive {
		font-size: 35px;
		font-weight: bold;
	}

    h2.text-reponsive {
		font-size: 30px;
		font-weight: bold;
	}

    h3.text-reponsive {
		font-size: 25px;
		font-weight: bold;
	}

    h4.text-reponsive {
		font-size: 20px;
		font-weight: bold;
	}
}

@media (min-width: 1200px) {
	.text-reponsive {
		font-size: 17px;
	}

	h1.text-reponsive {
		font-size: 37px;
		font-weight: bold;
	}

    h2.text-reponsive {
		font-size: 32px;
		font-weight: bold;
	}

    h3.text-reponsive {
		font-size: 27px;
		font-weight: bold;
	}

    h4.text-reponsive {
		font-size: 22px;
		font-weight: bold;
	}
}

.v-center {
	display: -ms-flexbox;
	display: flex;
	align-items: center;
}